<div class="container">
  <h3 class="h3">Dispatch Unit</h3>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <form [formGroup]="dispatchForm" (ngSubmit)="onSubmit()">
      
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>
                Dispatch Code:
                <input type="text" readonly class="form-control" formControlName="code">
              </label>
            </div>
          </div>
          <div class="col text-right">
            <button class="btn btn-lg btn-primary mt-3" type="submit" [disabled]="!dispatchForm.valid">Save</button>
          </div>
        </div>
        
        <div>
          <label>
            Date:
            <input type="date" class="form-control" formControlName="date">
          </label>
        </div>
      
        <div>
          <label>
            Bottles:
            <input type="number" class="form-control" formControlName="count">
          </label>
        </div>

        <div>
          <label>
            Van:
          </label>
          <select class="form-control" formControlName="van" (change)="onVanSelect()">
            <option *ngFor="let v of vans; let ix=index"
              value="{{ix}}">{{v.title + ' ' + v.licenseplate}}</option>
          </select>
        </div>
      
        <label>
          Clients:
        </label>
        <app-client-list [clients]="list"></app-client-list>
        <div class="row">
          <div class="col">
            <select class="form-control" formControlName="client">
              <option *ngFor="let m of members"
                value="{{m.id}}">{{m.name}}</option>
            </select>
          </div>
          <div class="col">
            <a class="btn btn-sm btn-secondary text-light mt-1" (click)="addClient()">Add Client</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
